@import "tailwindcss";

@media screen and (max-width: 500px) {
    nav {
        height: 9vh;
        padding: 0 2vw;
    }
    .logo {
        width: 12vw;
        height: 12vw;
    }
    #card {
        width: 90vw;
    }
    #sign-out {
        width: 15vw;
    }
}
